
body{
	background-color:#757575;
}
header{
	background-color:#424242;
	box-shadow: 5px 8px #616161;
}
footer{
	color:#FAFAFA
}
#logo{
	max-height:70px;
	max-width:70px;
}
#container>img{
	max-height:800px;
	max-width:600px;
}